<div class="container left-align">
  <div class="row card-panel">
    <h4 class="center-align">Crear nueva orden</h4>
    <div class="input-field col s5">
      {{input type="text" id="nombre" value=nombre placeholder="Nombre de la orden"}}
    </div>
    <div class="input-field col s5">
      {{input type="text" id="precio" value=precio placeholder="Precio"}}
    </div>
    <div class="input-field col s2">
      <button class="waves-effect waves-light btn" {{action "createOrder"}}>Crear</button>
    </div>
  </div>
  {{#each sortedModel as |order|}}
    <article>
      <h3>{{#link-to "orders.order.show" order}}{{order.nombre}}{{/link-to}}</h3>
      <div>
        <span>Precio:</span> {{order.precio}}
      </div>
    </article>
  {{/each}}
</div>
{{outlet}}
