<div class="container">
  <h1 class="center-align">{{model.nombre}}</h1>
  <button class="waves-effect waves-light btn" {{action "viewTotal"}} type="button">Ver Total</button>

  {{#if showOrders}}
  <div class="row">
  <div class="input-field col m3">
    {{input id="client" value=client placeholder="Nombre"}}
  </div>
  <div class="input-field col m3">
    {{!-- {{filter-listing filteredList=filteredList
    autoComplete=(action 'autoComplete')}} --}}
    {{input class="autocomplete" id="flavor" value=flavor placeholder="Sabor" key-up=(action 'autoComplete' flavor)}}
    <ul>
      {{#each filteredList as |item|}}
        <li class="hoverable" {{action 'choose' item}}>
            {{item}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="input-field col m2">
    {{input id="cantidad" value=cantidad type="number" placeholder="Cantidad"}}
  </div>
  <div class="input-field col m2">
    {{input id="precio" value=model.precio type="number" placeholder="Precio"}}
  </div>
  <div class="input-field col m2">
    <button class="waves-effect waves-light btn green" {{action "createCharge"}}>Crear</button>
  </div>
</div>
<div class="row">
  <table class="bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Sabor</th>
        <th>Cantidad</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedCharges as |ch|}}
        <tr>
          <td>{{ch.client}}</td>
          <td>{{ch.flavor}}</td>
          <td>{{ch.cantidad}}</td>
          <td>{{ch.precio}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/if}}
{{#if showTotal}}
  <div class="row">
    <table>
      <thead>
        <tr>
          <th>Sabor</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {{#each totalCharges as |tch|}}
        {{log tch}}
          <tr>
            <td>{{tch.sabor}}</td>
            <td>{{tch.cantidad}}</td>
            <td>{{tch.precio}}</td>
            <td>{{tch.total}}</td>
          </tr>
        {{/each}}
        <tr>

        </tr>
      </tbody>
    </table>
  </div>
{{/if}}
{{outlet}}
</div>
