// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

.page-flexbox-wrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main{
  flex: 1 1 auto;
}
