<body>
  <nav class="pink lighten-1" role="navigation">
    <div class="nav-wrapper container">
      {{#link-to 'index' class="brand-logo"}}
        Tacos y Garnachas
      {{/link-to}}
      <ul class="right hide-on-med-and-down">
        <li>
          {{#link-to 'orders' class="button"}}
            Pedidos
          {{/link-to}}
        </li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li>
          {{#link-to 'orders' class="button"}}
            Pedidos
          {{/link-to}}
        </li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="page-flexbox-wrapper">
    <main>
      {{outlet}}
    </main>
    <footer class="page-footer brown">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Acerca de Tacos y Garnachas</h5>
            <p class="grey-text text-lighten-4">¿¿¿¿¿????</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made with <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>
  </div>
</body>
