<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Listas de Pedidos de Comida</h1>
    <div class="row center">
      <h5 class="header col s12 light">Arma tus listas de los pedidos que se van a armar en la oficina y compartelas con tus compas godines</h5>
    </div>
    <div class="row center">
      {{#link-to 'orders.index' class="btn-large waves-effect waves-light orange"}}
        Crea un Pedido
      {{/link-to}}
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">¿Quien puede ver las lista que creo?</h5>

          <p class="light">Por ahora todo el mundo porque aun no le meto login a esta madre.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">¿Como comparto mi lista con mis amigos?</h5>

          <p class="light">Nada más mandales el link</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">¿Quien puede agregar pedidos a las listas?</h5>

          <p class="light">Cualquier persona, igual nadie conoce la página xD</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>


{{outlet}}
